certifi==2020.12.5
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1607956439537/work
MarkupSafe @ file:///D:/bld/markupsafe_1602267645260/work
numpy @ file:///D:/bld/numpy_1609881266195/work
pandas @ file:///D:/bld/pandas_1609079363652/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1608904108784/work
scikit-learn @ file:///D:/bld/scikit-learn_1608656404213/work
scipy @ file:///C:/bld/scipy_1609458022270/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
Werkzeug==1.0.1
wincertstore==0.2
